<div class="row">
  <div class="col s12 m7">
    <div class="card medium">
      <div class="card-image">
        <img src="/images/club<%= @club.id %>.jpg"></img>
        <span class="card-title"><%= @club.name %></span>
      </div>
      <div class="card-content">
        City:<%= @club.city %>
        <p>Sponsors:</p>
        <ul>
          <% @club.sponsors.each do |s| %>
          <li><%= s.value%>, <%=s.name %></li>
          <% end %>


      <div class="card-action">
        <a href="/clubs/<%= @club.id %>/edit">Edit <%= @club.name %>
        <a href="/clubs">Back to all Clubs</a>
      </div>
    </div>
  </div>
</div>
