<title> Clubs </title>
<h1><%= @club.name %></h1>
<em>City:</em> <%= @club.city %>

<div>
  <h3>Current Sponsors:</h3>
  <ul>
    <% @club.sponsors.each do |s| %>
    <li><%= s.value%>, <%=s.name %></li>
    <% end %>
  </ul>
</div>
<div>
<p><a href="/clubs/<%= @club.id %>/sponsors">Available Sponsors</a></p>
</div>
<div>
  <h3>Current Key Players:</h3>
  <ul>
    <% @club.players.each do |p| %>
    <li><%= p.value%>, <%=p.name %></li>
    <% end %>
  </ul>
</div>
<div>
<p><a href="/clubs/<%= @club.id %>/players">Available Players</a>
</div>

<p><a href="/clubs/<%= @club.id %>/edit">Edit <%= @club.name %></a></p>
<p><a href="/clubs">Back to all Clubs</a></p>
