<title> Clubs </title>
<h1><%= @club.name %></h1>

<p><em>City:</em> <%= @club.city %></p>

<div>
  Sponsors:
    <% @club.sponsors.each do |s| %>
  <input type="text" name="sponsor" value="<%= s.name %>">
  <li><%= s.name %></li>
  <% end %>
</div>
<div>
  Players:
    <% @club.players.each do |p| %>
  <input type="text" name="player" value="<%= p.name %>">
    <li><%= p.name %></li>
    <% end %>
</div>

<p><a href="/clubs/<%= @club.id %>/edit">Edit <%= @club.name %></a></p>
<p><a href="/clubs">Back to all Clubs</a></p>
