<title> Sponsor </title>
<h1><%= @sponsor.name %></h1>

<p><em>Value:</em> <%= @sponsor.value %></p>

Clubs:
  <% @sponsor.clubs.each do |c| %>
<input type="text" name="sponsor" value="<%= c.name %>">
<li><%= c.name %></li>
<% end %>
</div>

<p><a href="/sponsors/<%= @sponsor.id %>/edit">Edit <%= @sponsor.name %></a></p>
<p><a href="/sponsors">Back to all Sponsors</a></p>
