<title> Players </title>

<% if @player.errors.any? %>
  <div>
    <h2>Errors:</h2>
    <ul>
      <% @player.errors.full_messages.each do |p| %>
        <li><%= p %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Edit <%= @player.name %></h1>

<form action="/players/<%= @player.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    Name:
    <input type="text box" name="name" value="<%= @player.name %>">
  </div>
  <div>
    Value:
    <input type="text box" name="value" value="<%= @player.value %>">
  </div>
  <div>
    <input type="submit" value="Update Player">
  </div>
</form>
