<div class="row">
  <div class="col s12 m7">
    <div class="card medium">
      <div class="card-image">
        <img src="/images/<%= @player.id %>.jpg"></img>
        <span class="card-title"><%= @player.name %></span>
      </div>
      <div class="card-content">
        <p><em>Value:</em> <%= @player.value %></p>
        <p><em>Club:</em> <%=  @player.club.name if @player.club %></p>
      </div>
      <div class="card-action">
        <p><a href="/players/<%= @player.id %>/edit">Edit <%= @player.name %></a></p>
        <a href="/players">Back to all Players</a>
      </div>
    </div>
  </div>
</div>
