<title> Players </title>
<h1><%= @player.name %></h1>

<p><em>Value:</em> <%= @player.value %></p>
<p><em>Club:</em> <%=  @club.name %></p>

<p><a href="/players/<%= @player.id %>/edit">Edit <%= @player.name %></a></p>
<p><a href="/players">Back to all Players</a></p>
