<h1>Categories for Question #<%= @flash_card.id %></h1>
<h2>Question: <%= @flash_card.question %></h2>
<h2>Answer: <%= @flash_card.answer %></h2>

<h3>Categories</h3>
<ul>
  <form action="/flash-cards/<%= @flash_card.id %>/categories" method="post">
    <input type="hidden" name="_method" value="patch">
  <% @categories.each do |c| %>
    <li>
      <%= c.name %>:
      <input type="checkbox" name="category_id[]" value="<%= c.id %>"
        <%= @flash_card.categories.include?(c) ? "checked" : ""%> >  
    </li>
  <% end %>
    <input type="submit" value="Update Categories">
  </form>
</ul>
