<h1>Show Page</h1>

<p><%= @flash_card.question %></p>

<% if @flash_card.due_date? %>
  <p>Due on: <%= @flash_card.due_date %></p>
<% else %>
  <p>No due date</p>
<% end %>

<h2>Categories</h2>
<ul>
  <% @categories.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>
<p><a href="/flash-cards/<%= @flash_card.id %>/categories">Edit Categories</a></p>

<p><%= @flash_card.point_value %> points</p>
<p><a href="/flash-cards/<%= @flash_card.id %>/answer">See the Answer</a></p>
<p><a href="/flash-cards/<%= @flash_card.id %>/edit">Edit</a></p>
